/* AQUI ZEREI CONF DA PAG */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width:100vw;
    margin-left: 0;
    
}
img {
    width:30px;
}
/*padronização das imagens usadas na div depoimentos*/
.fotos{
    width: 15vw;
    float: left;
    padding-right: 1vw;
}
/*padronização das legendas das fotos da div depoimentos*/
figcaption {
    text-align:left;
    margin-top: 0.2vh;
    font-size: 1vw;
}
p {
    font-style: roboto;
    text-align: justify;
    padding: 0vh 1vw;
    font-size: 1vw;
    color: white;
}
/*padronização do heading h2 'por que contratar upfour'*/
#vantagens {
    display: flex;
    position: center;
    width: 96vw;
    justify-content:center;
    color: rgb(156, 130, 97);
}
/*padronização da section (div depoimentos)*/
.depoimentos{
    display: grid;
    grid-template-columns:30vw 30vw 30vw; 
    grid-template-rows: 20vh 20vh;
    gap:1vw 1vh;
    height: 40vh;
    width: 98vw;  
    background-color: rgb(158, 145, 124);
    justify-content:center;
    padding: 1vh 1vw;
}
/*estilização das ids com caixa*/
#bia, #mila, #leo {
    background-color: rgb(143, 124, 97);
}
/*layoutagem do rodape*/
footer {
    display:grid;
    grid-template-columns: 30vw 30vw 30vw;
    justify-content:center;
    height: 20vh;
    width: 100vw;
    background-color:rgb(167, 153, 133);
    margin-top: 4vh;
}
/*ajustes das imagens da div 'siga' do rodape*/
.redes {
    width: 20%;
    padding-left: 10%;
    margin-top: 1vh;
}
/*ajustes do mapa do rodape*/
#map {
   height: 10vh;
   width:20vw;
   margin-left: 15%
}
/*padronização dos headings do rodape*/
h5 {
    margin-top: 0.2vh;
    text-align: center;
}
/*layout do form do rodape*/
form {
    display: grid;
    grid-template-rows: 2vh 2vh 3fr 1fr;
    grid-template-columns: 8vw 8vw 8vw;
    row-gap: 0.4vh;
}
/*encaixe especifico do h5 da div form no grid*/
h5 {
    grid-column: 1 / span 3;
}
/*ajustes no input do rodape*/
input {
    width: 90%;
    margin-right: 1vh;
    font-size: 1.2vh;
}
/*estilização do botão do rodape*/    
button {
    width: 3vw;
    height: 2vh;
    font-size: 1vh;
}
/*layout do campo de mensagem no form do rodape*/
#msg {
    grid-column: 1 / span 3;
    width: 96.5%;
    height: 8vh;
    margin-top: 1vh;
}
@media screen and (max-device-width: 800px) {
    .depoimentos {
        height: 32vh;
    }
    input {
        font-size: 0.8vh;
    }
    button {
        width: 4vw;
        height: 2vh;
        font-size: 0.8vh;
    }
}
@media screen and (max-device-width: 420px) {
    p {
        font-size:1vh;
    }
    .depoimentos {
        grid-template-rows: 15vh 15vh;
        row-gap: 2vh;        
    }
    figcaption {
        font-size: 2vw;
    }
    input {
        font-size: 0.5vh;
    }
    #map {
        height: 8vh;
    }
    button {
        width: 8vw;
        height: 2vh;
        font-size: 0.8vh;
    }
}

/* HEADER */
header{
    display: flex;
    background-color: #d2c2b0 ;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 0 20px;
}

header figcaption{
    font-size: 0.5em;
}

header img{
    width: 3em;
    border-radius: 5px;
}
header a, h1{
    color: bisque;
}
 
 header a{
    font-size: small;
}
header h1{
    text-align: center;
}

img {
    max-width: 100vw;
}

button:focus {
  outline: 0;
}

section.credito, section.sistema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 98%;
    padding: 1%;
    font-size: 1.5em;
}

section.credito {
    color: #d2c2b0;
    background-color: #000000;
}

section.sistema {
    background-color: #d2c2b0 ;
}

section.credito > h2, 
section.sistema > h2,
section.credito > button, 
section.sistema > button {
    grid-column: 1 / span 3;
}

section.credito p, section.sistema p {
  font-style: italic;
}

section.credito > img, section.sistema > img {
    width: 90%;
    border-radius: 2vw;
    margin: 5%;
}

section.credito > button, section.sistema > button {
    max-width: 30%; 
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.25em;
    border: 0;
    padding: 1.5%;
    border-radius: 1vw;
}

section.credito > button {
    background-color: #d2c2b0;
    color: #000000;
}

section.sistema > button {
    background-color: #000000;
    color: #d2c2b0;
}

section.credito > button:hover, section.sistema > button:hover {
    opacity: 80%;
    cursor: pointer;
}
